/* USER VARIABLES SECTION */

:root {
  --accent-color: #266bd1;
  --text-color: #151c22;
  --btn-hover-color: #2c333a;
  --bg-color: #f1f2f4;
  --light-gray: #727a82;
  --black-color: #000;

  --fontsize: 16px;
  --lineheight: 1.19;
  --userfont: work-sans-st, Arial, Helvetica, sans-serif;
  --systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}

/* FONTS LOAD SECTION */

@font-face {
  src: url("../fonts/WorkSans-Bold.woff2") format("woff2");
  font-family: "work-sans-st";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  src: url("../fonts/WorkSans-ExtraBold.woff2") format("woff2");
  font-family: "work-sans-st";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  src: url("../fonts/WorkSans-Medium.woff2") format("woff2");
  font-family: "work-sans-st";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  src: url("../fonts/WorkSans-Regular.woff2") format("woff2");
  font-family: "work-sans-st";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  src: url("../fonts/anton-regular-webfont.woff2") format("woff2");
  font-family: "anton-st";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* GENERAL CSS SETTINGS */

::placeholder {
  color: #666;
}
::selection {
  background-color: var(--accent);
  color: #fff;
}
input,
textarea {
  outline: none;
}
input:focus:required:invalid,
textarea:focus:required:invalid {
  border-color: red;
}
input:required:valid,
textarea:required:valid {
  border-color: green;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 250ms ease-out;
}
a:hover {
  color: var(--accent-color);
}

body {
  font-family: var(--userfont);
  font-weight: 400;
  font-size: var(--fontsize);
  line-height: var(--lineheight);
  color: var(--text-color);
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: calc(1170px + 16px * 2);
  padding: 0 16px;
  margin: 0 auto;
}

.section {
  padding-top: 100px;
}

.logo {
  display: inline-block;
}
.logo__img {
  display: block;
  width: 75px;
  height: 17px;
  object-fit: cover;
}

.site-menu {
  display: flex;
  flex-wrap: wrap;
}
.site-menu__item {
  margin-top: 10px;
}
.site-menu__item:not(:last-child) {
  margin-right: 35px;
}
.site-menu__link {
  display: block;
  white-space: nowrap;
}
.site-menu__link:hover {
  color: var(--accent-color);
}

.user-menu {
  display: flex;
  align-items: flex-end;
}
.user-menu__item:not(:last-child) {
  margin-right: 35px;
}
.user-menu__link {
  display: block;
  width: 18px;
  height: 18px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.user-menu__link--cart {
  width: 20px;
}

.btn {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  padding: 27px 24px;
  background-color: var(--text-color);
  transition: background-color 250ms ease-out;
}
.btn:hover {
  color: #fff;
  background-color: var(--btn-hover-color);
}

.title {
  font-weight: bold;
  font-size: 32px;
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-section__title {
}
.header-section__show {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 4px;
}
.header-section__show::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--text-color);
  transition: background-color 250ms ease-out;
}
.header-section__show:hover::before {
  background-color: var(--accent-color);
}

/* header */

.header {
  padding: 14px 0 24px;
}

.header__nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.header__nav-menu {
  flex-basis: 33.33%;
  display: flex;
  justify-content: flex-start;
}

.header__nav-inner {
  flex-basis: 33.33%;
  margin: 0 20px;
  font-size: 0;
  text-align: center;
}

.header__nav-user {
  flex-basis: 33.33%;
  display: flex;
  justify-content: flex-end;
}

/* promo */

.promo {
  background: var(--bg-color);
}
.promo__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.promo__content {
  flex-basis: 0 0 365px;
  margin-right: 50px;
}
.promo__title {
  font-size: 18px;
  font-weight: 400;
  color: var(--light-gray);
  margin-bottom: 25px;
}
.promo__text {
  font-family: anton-st, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 128px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.promo__link-next {
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 20px;
  height: 37px;
  background-image: url("../images/arrow-down.svg");
  background-size: 10px 27px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 5px;
}
.promo__media {
  position: relative;
  padding: 50px;
}
.promo__media::before,
.promo__media::after {
  content: "";
  position: absolute;
  width: 232px;
  height: 176px;
  background: url("../images/decor.png") center/cover no-repeat;
}
.promo__media::before {
  top: 0;
  left: 0;
}
.promo__media::after {
  bottom: 0;
  right: 0;
}
.promo__img {
  position: relative;
  width: 430px;
  height: 517px;
  object-fit: cover;
  z-index: 1;
}

/* Bestsellers */

.best__header {
  margin-bottom: 70px;
}
.best__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}
.best__list-item {
  position: relative;
  flex: 0 0 270px;
  display: flex;
  flex-direction: column;
  margin: 0 30px 30px 0;
}
.best__name {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 15px;
}
.best__name-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.best__img {
  display: block;
  flex: 0 0 349px;
  object-fit: cover;
  margin-bottom: 25px;
  order: -1;
}
.best__cost {
  font-weight: bold;
  margin: 0;
}

/* news */

.news {
}
.news__header {
  margin-bottom: 70px;
}
.notice {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.notice__inner {
  flex: 0 0 470px;
  padding: 34px 70px 34px 0;
  background: url("../images/decor-news.png") center/cover no-repeat;
}
.notice__content {
  padding: 50px 40px 30px;
  background-color: var(--bg-color);
}
.notice__title {
  font-size: 24px;
  margin-bottom: 25px;
}
.notice__time {
  display: inline-block;
  font-size: 18px;
  color: var(--black-color);
  margin-bottom: 10px;
}
.notice__text {
  font-size: 18px;
  color: var(--light-gray);
  margin-bottom: 25px;
}
.notice__link {
  padding-left: 45px;
  padding-right: 45px;
}
.notice__media {
  flex-shrink: 1;
  height: 370px;
  margin: 0;
}
.notice__img {
  display: block;
  height: 100%;
  object-fit: cover;
}

/* Shop by category */

.category {
}
.category__list {
}
.category__list-item {
}
.category__name {
}
.category__name-link {
}
.category__img {
}

/* footer */

.footer {
  background-color: var(--text-color);
}
.footer__logo {
}
.footer__menu {
}
.footer__social {
}
